header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

li a {
  text-decoration: none;
  color: #007bff;
}

li a:hover {
  text-decoration: underline;
}

li.disabled {
  color: gray;
  pointer-events: none; 
}

.menu-toggle {
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 0.5rem 1rem; 
  font-size: 1rem; 
  font-weight: bold; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.menu-toggle:hover {
  background-color: #0056b3; 
}



@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .menu-toggle{
    font-size: 0.5rem;
  }
}